<?xml version="1.0"?>

<model>
  <name>sherd_j</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Deb Wang</name>
    <email>deborah.wang@gmail.com</email>
  </author>

  <description>
    Sherd "j" converted to .dae from a .obj and decimated 1000x in Blender.  Source .obj file and from Dr. Peter Cobb, University of Hong Kong.
  </description>
</model>
